@charset "utf-8";
/* CSS Document */
/* 
-------------------------------------------------- */
body {
	font-family: /*'Libre Caslon Display', */'Cormorant Garamond', 'Noto Serif JP',  serif;
	color: #3c3c3c;
	text-align: center;
}
article img {
	width:100%;
	height:auto;
}
.inner {
	position:relative;
}
@media (min-width: 768px) {
/* tablet+PC用 */
	.for-sp {
		display:none;
	}
	.for-tb,
	.for-tbpc {
		display:block;
	}
	
	.inner {
		margin:0 auto;
		/*padding:0 2%;*/
	}
	
	.fx {
		display:flex;
		justify-content: space-between;
		margin:0 10.812%;
	}
	
	.fxch.ttl {
		width:23%;
	}
	.fxch.txt {
		width:66.666666666666666%;
		text-align: left;
	}
}
@media (min-width: 1024px) {
/* PC用 */
	.for-sp,
	.for-tb {
		display:none;
	}
	.for-pc {
		display:block;
	}
	
}
@media (min-width: 1224px) {
/* PC-wide用 */
	.inner {
		width:1110px;
		margin:0 auto;
		padding:0;
	}
}
@media (min-width: 768px) and ( max-width: 1023px) {
/* tablet用 */
}
@media (max-width: 767px) {
/* SP用 */
	.for-tb,
	.for-pc,
	.for-tbpc {
		display:none;
	}
	.for-sp {
		display: block;
	}
	
	.inner {
		margin:0 auto;
	}
}


/* ローディング画面 */
#loading {
	width: 100vw;
	height: 100vh;
	transition: all 1s;
	background-color: #0bd;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}
.loaded {
  opacity: 0;
  visibility: hidden;
}
.loading--inner {
	width: 100px;
	height: 100px;
	margin: 200px auto;
	background-color: #fff;
	border-radius: 100%;
	animation: sk-scaleout 1.0s infinite ease-in-out;
}


/* menu
-------------------------------------------------- */
.menu-btn {
	/*position: fixed;*/
	position:absolute;
	top: 1.15rem;
	right: 12px;
	width: 32px;
	height: 24px;
	line-height: 32px;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	z-index: 51011;
}

.menu-btn span { color: #fff;}
.open .menu-btn span { color:#fff;}

.sns--insta {
	position: absolute;
	top:1.15rem;
	right:55px;
	width:26px;
	height:26px;
	text-indent: -99999%;
	transition: 0.75s;
	cursor: pointer;
	z-index: 301;
}
.sns--insta a {
	display:block;
	width:26px;
	height:26px;
	background:url("../img/icn_insta@2x.png") center center no-repeat;
	background-size:100% auto;
	transition: 0.75s;
}
.sns--insta.m_fixed {}
.sns--insta.m_fixed a {
	transition: 0.75s;
}

header.m_fixed .menu-btn,
header.m_fixed .sns--insta {
	position: fixed;
}

.kv--area .menu-btn,
.kv--area .sns--insta {
	position:absolute;
}
.kv--area .sns--insta a {
	background:url("../img/icn_insta_wt@2x.png") center center no-repeat;
	background-size:100% auto;
}

/*.menu-btn span:after {
	content: attr(data-txt-menu);
}*/

/* 開閉用ボタンがクリックされた時のスタイル */
/*.open .menu-btn span:after {
	content: attr(data-txt-close);
}*/

.menu-trigger,
.menu-trigger span {
	display: inline-block;
	transition: all .5s;
	box-sizing: border-box;
}
.menu-trigger {
	position: relative;
	width:26px;
	height:23.4px;
}
.menu-trigger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #fff;
	border-radius: 1px;
}
.m_fixed .menu-trigger span {
  background-color: #3c3c3c;
  border-radius: 1px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top:11px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 1px;
}

.open .kv--area .menu-btn {
	display: none;
}
.open header .inner {
	position:absolute;
	top:0;
	left:0;
	width:100%;
}
@media (min-width: 769px) {
/* tablet用 */
	.open header .inner {
		width:1110px;
		left:50%;
		margin-left:-555px;
	}
}

.open header .menu-btn {
	position: absolute;
}

header .menu-trigger span,
.open .menu-trigger span { background-color: #3c3c3c; }
.open .menu-trigger span:nth-of-type(1) {
  -webkit-transform: translateY(11.2px) rotate(-45deg);
  transform: translateY(11.2px) rotate(-45deg);
}
.open .menu-trigger span:nth-of-type(2) {
  opacity: 0;
}
.open .menu-trigger span:nth-of-type(3) {
  -webkit-transform: translateY(-11.2px) rotate(45deg);
  transform: translateY(-11.2px) rotate(45deg);
}

/*.open .menu-trigger {
	width:70px;
	right: 20px;
}
.open .menu-trigger span { background-color: #fff; }
.open .menu-trigger span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}
.open .menu-trigger span:nth-of-type(2) {
  opacity: 0;
}
.open .menu-trigger span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
}*/

.gloval--navigation {
	position: fixed;
	display: table;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(220,220,220,1);
	-webkit-transition: all 1s;
	transition: all 1s;
	visibility: hidden;
	opacity: 0;
}

.gloval--navigation ul {
	vertical-align: middle;
}

.gloval--navigation li a {
	display: block;
	font-size:1rem;/*16*/
	color: #3c3c3c;
	/*line-height: 34px;*/
	text-decoration: none;
}

.gloval--navigation li a:hover {
	color: #ccc;
}

/* 開閉用ボタンがクリックされた時のスタイル */
.open .gloval--navigation {
	-webkit-transition: all .5s;
	transition: all .5s;
	visibility: visible;
	opacity: 1;
	z-index: 1001;
}
.gloval--navigation > ul {
	margin: 0 auto;
}

.gloval--navigation .nav--logo img { width:100%; height:auto;}

@media (min-width: 768px) {
/* tablet+PC用 */
	.sns--insta {}
	.sns--insta a {}
	.sns--insta.m_fixed a {}
	
	.gloval--navigation {
		width: 100%;
		/*left: 50%;
		margin-left: -555px;*/
		padding: 8rem 10% 0;
		text-align:left;
	}
	.gloval--navigation .nav--logo.for--sp {
		display:none;
	}
	.open .gloval--navigation {
	}
	.gloval--navigation .nav--main,
	.gloval--navigation .nav--sub {
		display:flex;
		justify-content: flex-start;
		margin-left: -1rem;
	}
	.gloval--navigation .nav--main {
		margin-bottom:1.6rem;
	}
	.gloval--navigation .nav--main li,
	.gloval--navigation .nav--sub li {
		position: relative;
	}
	
	.gloval--navigation .nav--main li a {
		display:inline-block;
		padding:0 1.3rem;
		color: #3c3c3c;
		font-size:2rem;
	}
	.gloval--navigation .nav--main li::before,
	.gloval--navigation .nav--sub li::before {
		content:'';
		position: absolute;
		left:0;
		top:0.25rem;
		width:1px;
		height:24px;
		background:#3c3c3c;
	}
	.gloval--navigation .nav--main li:first-of-type::before,
	.gloval--navigation .nav--sub li:first-of-type::before {
		width:0;
	}
	
	.gloval--navigation .nav--sub {
		margin-bottom:7.8rem;
	}
	.gloval--navigation .nav--sub li {
		padding-right:0.8rem;
	}
	.gloval--navigation .nav--sub li a {		
		display:inline-block;
		padding:0 2rem 0 1rem;
		color: #3c3c3c;
		font-size:1.375rem;
		background:url("../img/icn_link@2x.png") right center no-repeat;
		background-size:auto 16px;
	}
	.gloval--navigation .nav--sub li::before {
		top:0.1rem;
		height:18px;
	}
	
	.gloval--navigation .nav--logo {
		width:184px;
		margin-bottom: 1.4rem;
	}
	
	.gloval--navigation dl {
		display:flex;
		flex-wrap:wrap;
		justify-content: flex-start;
		margin-bottom: 1.4rem;
	}
	.gloval--navigation dt {
		width:100%;
		font-size:1.25rem;
	}
	.gloval--navigation dd {
		margin-right: 1rem;
	}
	.gloval--navigation dd a {
		color: #3c3c3c;
		font-size:1.875rem;
		text-decoration: none;
		border-bottom:1px solid #3c3c3c;
	}
	.gloval--navigation dd small {
		font-size:1.5rem;
	}
	.gloval--navigation .openTime {
		display: inline-block;
		margin-bottom: 1rem;
		font-size:116%;
	}
	.gloval--navigation .openTime--for-tbpc { display:inline !important;}
	.link--insta {
		margin-top: 0.3rem;
		padding-right: 1.5rem;
		font-size:0.975rem;
		color: #3c3c3c;
		text-decoration:none;
		background:url("../img/icn_insta.png") right 2px no-repeat;
		background-size:16px auto;
	}
}
@media (min-width: 1024px) {
/* PC用 */
	.gloval--navigation {
		width: 100%;
		left: 50%;
		margin-left: -555px;
		padding: 8rem 10% 0;
		text-align:left;
	}
	.link--insta {
		margin-left: 1rem;
	}

}
@media (min-width: 1224px) {
/* PC-wide用 */
	.menu-btn {
		right:auto;
		margin-left: 1050px;
	}
	.sns--insta {
		right:auto;
		margin-left:1000px;
	}
	.gloval--navigation {
		width: 1110px;
	}
}
@media (min-width: 768px) and ( max-width: 1023px) {
/* tablet用 */
}
@media (max-width: 767px) {
/* SP用 */
	.menu-btn {
		top:0.85rem;
	}
	.sns--insta {
		top:0.75rem;
		width:24px;
		height:24px;
	}
	.sns--insta a,
	.sns--insta.m_fixed a {
		background-size:24px auto;
	}
	
	.menu-trigger {
		width:24px;
		height:24px;
	}
	
	.menu-trigger span:nth-of-type(2) {
		top: 9px;
	}
	.menu-trigger span:nth-of-type(3) {
		top: 19px;
	}
	.open .menu-trigger span:nth-of-type(1) {
		-webkit-transform: translateY(9.6px) rotate(-45deg);
		transform: translateY(9.6px) rotate(-45deg);
	}
	.open .menu-trigger span:nth-of-type(3) {
		-webkit-transform: translateY(-9.6px) rotate(45deg);
		transform: translateY(-9.6px) rotate(45deg);
	}
	
	
	
	.gloval--navigation {
		width: 100%;
		left:0;
		margin-left:0;
		padding: 1.15rem 10% 0;
		text-align:left;
	}
	.gloval--navigation .nav--logo.for--sp {
		text-align: center;
		width: 33.6%;
		margin: 0 auto;
	}
	.gloval--navigation .nav--logo {
		width:auto;
		margin-bottom: 1.4rem;
	}
	.gloval--navigation .nav--logo.for--tbpc {
		display:none;
	}
	.open .gloval--navigation {
		overflow: scroll;
	}
	.gloval--navigation .nav--main,
	.gloval--navigation .nav--sub {
		display:block;
		/*margin-left: -1rem;*/
	}
	.gloval--navigation .nav--main {
		margin:3rem 0 3rem;
	}
	.gloval--navigation .nav--main li,
	.gloval--navigation .nav--sub li {
		position: relative;
	}
	
	.gloval--navigation .nav--main li {
		margin-bottom:1.2rem;
	}
	
	.gloval--navigation .nav--main li a {
		display:inline-block;
		padding:0 ;
		font-size:1.375rem;
	}
	.gloval--navigation .nav--main li::before,
	.gloval--navigation .nav--sub li::before {
		width:0px;
	}
	.gloval--navigation .nav--main li:first-of-type::before,
	.gloval--navigation .nav--sub li:first-of-type::before {
		width:0;
	}
	
	.gloval--navigation .nav--sub {
		margin-bottom:2rem;
		padding-bottom: 0.2rem;
		border-bottom:1px solid #3c3c3c;
	}
	.gloval--navigation .nav--sub li {
		margin-bottom: 0.8rem;
		padding-right:0;
	}
	.gloval--navigation .nav--sub li a {		
		display:inline-block;
		padding:0 1.6rem 0 0;
		font-size:1.125rem;
		background:url("../img/icn_link@2x.png") right center no-repeat;
		background-size:auto 12px;
	}
	.gloval--navigation .nav--sub li::before {
		top:0.1rem;
		height:18px;
	}
	
	
	
	.gloval--navigation dl {
		display:block;
		flex-wrap:wrap;
		justify-content: flex-start;
		margin-bottom: 1.4rem;
	}
	.gloval--navigation dt {
		width:100%;
		margin:0 0 0.3rem;
		font-size:1.125rem;
	}
	.gloval--navigation dd {
		margin:0 0 0.8rem;
	}
	.gloval--navigation dd a {
		color: #3c3c3c;
		font-size:1.375rem;
		text-decoration: none;
		border-bottom:1px solid #3c3c3c;
	}
	.gloval--navigation dd a .for-sp { display:inline;}
	.gloval--navigation dd small {
		font-size:1.25rem;
	}
	.gloval--navigation .openTime {
		display: inline-block;
		margin-bottom: 0.25rem;
		font-size:116%;
	}
	.gloval--navigation .en {
		line-height:1.35;
		font-size:0.875rem;
	}
	.gloval--navigation .insta {
		margin: 2rem 0 1rem;
	}
	.gloval--navigation .insta img {
		width:26px; height: auto;
	}
	.gloval--navigation .copy {
		font-size:0.75rem;
	}

}


/* 
-------------------------------------------------- */
.kv--area .inner {
    /*position: -webkit-sticky;
    position: sticky;*/
	/*position:fixed;*/
	top:0;
	
    align-items: center;
    justify-content: center;
	background:/*#4f57B0*/ #dcdcdc;
	/*z-index: 1;*/
}
.kv--area img {
	width:100%; height: auto;
}
.kv--txt {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	color: #fff;
	text-align: center;
}

@media (min-width: 768px) {
/* tablet+PC用 */
	.kv--area {
		height: 600px;
		max-height:600px;
		/*z-index: -1;*/
	}
	
	.kv--area .inner {
		position: relative;
		height: 600px;
		max-height:600px;
		padding-bottom: 10rem;
	}
	.kv--area .kv--image {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height: 600px;
		max-height: 600px;
		background:url("../img/top/kv_pc.jpg") center top no-repeat;
		background-attachment: fixed;
		background-size:100% auto;
	}
	.kv--area .kv--image img {
		width:100%;
		height: auto;
	}
	
	.kv--txt {
		padding: 30% 0 0;
	}
	.kv--txt .kv--logo {
		width:396px;
		margin:0 auto 1rem;
	}
	.kv--txt h3 {
		font-size:20px;
		line-height: 1.3;
	}
	
	
}
@media (min-width: 1024px) {
/* PC用 */
	.kv--area,
	.kv--area .inner,
	.kv--area .kv--image {
		height: 800px;
		max-height:800px;
	}
}
@media (min-width: 1224px) {
/* PC-wide用 */
}
@media (min-width: 768px) and ( max-width: 1023px) {
/* tablet用 */
}
@media (max-width: 767px) {
/* SP用 */
	.kv--area {
		height: 100vh;
	}
	.kv--area .inner {
		width: 100%;
		height: 100vh;
		position: fixed;
	}
	.kv--area .kv--image {
		position: relative;
		width:100%;
		height:100vh;
		background:url("../img/top/kv_sp@2x.jpg") center center no-repeat;
		background-size:auto 110vh;
		transition: 8s;
		/*background-attachment: fixed;*/
	}
	.kv--area .kv--image::before {
		/*content: '';
		left:0;
		top:0;
		width:100%;
		height:100vh;
		background:url("../img/top/kv_sp@2x.jpg") center center no-repeat;
		background-size:auto 110vh;
		transition: 8s;*/
	}
	
	.kv--txt {
		padding: 72% 0 0;
	}
	.kv--txt .kv--logo {
		width:52.3333333%;
		margin:0 auto 1rem;
	}
	.kv--txt h3 {
		font-size:1.125rem;
		line-height: 1.3;
	}
}


/* 
-------------------------------------------------- */
.container {
	width: 100%;
    /*height: 100vh;*/
    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
	top: 0;
}

.content {
	padding: 0 0 4.5rem;
	z-index: 11;
}
.content .inner {
	background:/*#4f57B0*/ #dcdcdc;
}

/*---- header ----*/
.header {
	top:0;
	left:0;
	width:100%;
	z-index: 201;
}
.header .inner {
	background:#dcdcdc;
}
.header.m_fixed .inner { background:none;}
.header.m_fixed {
	position: fixed;
	top: 0;
}
.header h1 img {
	width:100%; height: auto;
}


/*---- footer ----*/
.footer--menu {
	display:block;
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	background:rgba(0,0,0,0.65);
	z-index: 121;
}
.footer--menu dl {
	display:flex;
	justify-content:flex-end;
	max-width:100%;
	margin: 0 auto;
	padding-right: 1rem;
	font-size:120%;
	color: #fff;
	align-items: center;
}
.footer--menu a {
	display:block;
	padding:1rem 0 1rem 1.5rem;
	text-align: center;
	color: #fff;
}
.footer--menu a::hover { text-decoration:none;}


/*---- footer ----*/
.footer .inner {
	padding:6.875rem 0 3.125rem;
	color: #fff;
	background:url("../img/bg_footer_pc@2x.jpg") center center no-repeat;
	background-size:100% auto;
}
.h303 {
	display: inline-block;
	margin-bottom: 1.4rem;
	padding:0 1rem 0.3rem;
	font-size:1.375rem;
	line-height: 1.15;
	border-bottom:2px solid #fff;
}
.h303 span span {
	font-size:1.8rem;
}
.h303 a {
	color:#fff;
	text-decoration:none;
}

.footer .h303.gmap a {
	display:inline-block;
	padding:3.4rem 0 0;
	background:url("../img/icn_gmap.png") center top no-repeat;
}

.footer .inner .en {
	margin-bottom: 1.1rem;
	font-size:1.125rem;
}
.footer .inner .jp {
	margin-bottom: 3.1rem;
	font-size:1.0625rem;
	font-family: 'Noto Serif JP',  serif;
}

.footer .inner dl {
	display:flex;
	justify-content: center;
	margin-bottom: 2rem;
}
.footer .inner dl dt {
	padding:0 0.8rem;
	font-size:1.625rem;
}
.footer .inner dl dd {
	padding:0 0.8rem;
	font-size:1.875rem;
}
.footer .inner dl dd a {
	color:#fff;
	text-decoration:underline;
}
.footer .inner dl dd small {
	font-size:1.625rem;
}

.footer .inner .openTime {
	margin-bottom: 0.5rem;
	font-size:1.25rem;
}
.footer .inner .openTime span {
	font-size:1.5625rem;
}
.footer .inner .openTime em {
	font-weight:400;
}

.footer--insta {
	margin:0 0 2rem;
}
.footer--insta a {
	display:inline-block;
	padding-bottom: 3rem;
	color: #fff;
	text-decoration:none;
	background:url("../img/icn_insta_wt@2x.png") center bottom no-repeat;
	background-size:36px auto;
}

.footer--logo {
	margin:0 auto;
}
.footer--logo img {
	width:100%; height: auto;
}

/*---- .footer--inner ----*/
.footer--inner {
	padding:2rem 0 0;
}

.footer--ul--01,
.footer--ul--02 {
	display:flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1.7rem;
}
.footer--ul--01 li {
	padding:0 1rem;
}
.footer--ul--01 .li01 {
	border-right:1px solid #3c3c3c;
}
.footer--ul--01 li a {
	color:#3c3c3c;
	text-decoration: none;
}
.footer--ul--01 li a:hover {
	text-decoration: underline;
}

.footer--inner .copyright {
	text-align:center;
	font-size:12px;
}

@media (min-width: 768px) {
/* tablet+PC用 */
	.header .inner {
		padding:1.15rem 0;
	}
	.header h1 {
		width:252px;
		margin:0 auto;
		text-align:center;
	}
	
	.footer .inner {
		background-size:auto 100%;
	}
	.footer--logo {
		width:260px;
	}
	
	.footer--ul--02.for-sp {
		display:none !important;
	}
}
@media (min-width: 1024px) {
/* PC用 */
	
}
@media (min-width: 1224px) {
/* PC-wide用 */
	.footer .inner {
		background-size:100% auto;
	}
	.footer--menu {
		max-width:1110px;
		left:50%;
		margin:0 auto 0 -555px;
		padding-right: 0;
	}
}
@media (min-width: 768px) and ( max-width: 1023px) {
/* tablet用 */
}
@media (max-width: 767px) {
/* SP用 */
	.header .inner {
		padding:1.15rem 0;
	}
	.header h1 {
		width:33.6%;
		margin:0 auto;
		text-align:center;
	}
	
	/*---- footer ----*/
	.footer .inner {
		padding:3rem 0 3rem;
		background:url("../img/bg_footer_sp.jpg") center center no-repeat;
		background-size:cover;
	}
	.h303 {
		padding:0 1rem 0.3rem;
		font-size:1.125rem;
		border-bottom:1px solid #fff;
	}
	.h303 span span {
		font-size:1.375rem;
	}
	.h303 a {
		color:#fff;
		text-decoration:none;
	}
	.h303.gmap {
		margin-bottom: 3.4rem;
	}

	.footer .h303.gmap a {
		display:inline-block;
		padding:2rem 0 0;
		background:url("../img/icn_gmap.png") center top no-repeat;
		background-size:18px auto;
	}

	.footer .inner .en {
		margin-bottom: 1.1rem;
		font-size:0.9375rem;
		line-height: 1.4;
	}
	.footer .inner .jp {
		margin-bottom: 3.1rem;
		font-size:1.0625rem;
		font-family: 'Noto Serif JP',  serif;
	}

	.footer .inner dl {
		display:block;
		text-align: center;
		margin-bottom: 2rem;
	}
	.footer .inner dl dt {
		margin-bottom: 0.3rem;
		padding:0 0.8rem;
		font-size:1.25rem;
	}
	.footer .inner dl dd {
		margin-bottom: 1rem;
		padding:0 0.8rem;
		font-size:1.25rem;
	}
	.footer .inner dl dd small {
		font-size:1.625rem;
	}

	.footer .inner .openTime {
		margin-bottom: 0.5rem;
		font-size:1.125rem;
		line-height: 1.4;
	}
	.footer .inner .openTime span {
		font-size:1.25rem;
	}
	.footer .inner .openTime em {
		font-size:0.9375rem;
	}

	.footer--insta {
		margin:0 0 2rem;
	}
	.footer--insta a {
		display:inline-block;
		padding-bottom: 1.8rem;
		color: #fff;
		text-decoration:none;
		background:url("../img/icn_insta_wt@2x.png") center bottom no-repeat;
		background-size:18px auto;
	}

	.footer--logo {
		width:25.4666666%;
		margin:0 auto;
	}
	.footer--logo img {
		width:100%; height: auto;
	}

	/*---- .footer--inner ----*/
	.footer--inner {
		padding:2rem 0 0;
	}

	.footer--ul--01,
	.footer--ul--02 {
		display:flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin:0 4% 0;
	}
	.footer--ul--01 li {
		margin-bottom: 1rem;
		padding:0 1rem;
		font-size:0.75rem;
	}
	.footer--ul--01 .li01 {
		border-right:1px solid #3c3c3c;
	}
	
	.footer--ul--02 .li02 {
		margin-bottom: 1rem;
		padding:0 0.5rem;
	}
	.footer--ul--02 li img {
		height:17px; width:auto;
	}

	.footer--inner .copyright {
		text-align:center;
		font-size:10px;
	}
	
	/*---- .footer--menu ----*/
	.open .footer--menu {
		z-index:-1;
	}
	.footer--menu dl {
		display:none;
	}
	.footer--menu ul {
		display:flex;
		justify-content: center;
		flex-wrap: wrap;
		padding:0.8rem 0;
	}
	.footer--menu ul li {
		position:relative;
	}
	.footer--menu ul li:first-of-type::after {
		content:'';
		width:1px;
		height:18px;
		position:absolute;
		right:0;
		top:10px;
		background:#fff;
	}
	.footer--menu ul li a {
		display:block;
		padding:0 1.5rem;
		line-height: 1;
		color: #fff;
		text-align:left;
		text-decoration:none;
		font-size:1.125rem;
	}
	.footer--menu ul li a small {
		font-size:1rem;
	}
}
@media (max-width: 320px) {
/* SP用 */
	.footer--ul--01,
	.footer--ul--02 {
		margin:0 3% 0;
	}
}


/* top page
-------------------------------------------------- */
/*---- .contents--kv--area ----*/
.contents--kv--area {}
.contents--kv--area h2 {
	text-align:center;
	line-height: 1.67;
}
.slider--txt {
	position:absolute;
	left:0;	
	color: #fff;
	width:100%;
	font-size:18px;
	text-align: center;
	z-index: 1001;
}



/*---- .fxch.ttl ----*/
.fxch.ttl {
	position: relative;
	padding: 0 0 10rem;
}
.fxch.ttl::before {
	content:'';
	position: absolute;
	top:2.54rem;
	left:0;
	width:100%;
	height:2px;
	background:#000;
}

.about--area .fxch.ttl {
	background:url("../img/top/bg_ttl_01@2x.png") center 3rem no-repeat;
	background-size:60% auto;
}
.interior--area .fxch.ttl {
	background:url("../img/top/bg_ttl_02@2x.png") center 3rem no-repeat;
	background-size:60% auto;
}
.menu--area .fxch.ttl {
	background:url("../img/top/bg_ttl_03@2x.png") center 3rem no-repeat;
	background-size:60% auto;
}

.fxch.txt p,
.foodstuff--txt p {
	line-height:2.1;
	color:#000;
}
.fxch.txt .en,
.foodstuff--txt .en {
	position: relative;
	margin:1.2rem 0 3.6rem;
	padding: 1.8rem 0 0;
	font-size:0.9375rem;
}
.fxch.txt .en::before,
.foodstuff--txt .en::before {
	content: '';
	position:absolute;
	top:0.75rem;
	left:0;
	width:70px;
	height:1px;
	background:#3c3c3c;
}
.btn--moreview {
	position: absolute;
	right:1.6rem;
	bottom:2rem;
	width:207px;
	border:1px solid #fff;
	z-index: 1001;
}
.btn--moreview a {
	display:block;
	position:relative;
	padding:0.65rem 2rem 0.65rem 0;
	color:#fff;
	text-align:center;
	font-size:1.5rem;
	text-decoration:none;
}
.btn--moreview a::after {
	position: absolute;
	top: 47.5%;
	right: 5%;
	width: 8px;
	height: 8px;
	margin-top: -4px;
	content: '';
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-top: solid 2px #fff;
	border-right: solid 2px #fff;
}
.btn--moreview a:hover {
	opacity: 1;
	background-color: rgba(255, 255, 255, 0.1);
}

/*---- menu--area ----*/
.menu--area .slider {
	margin-bottom:0;
}

/*---- more--area ----*/
.more--area .h202 {
	position:relative;
	margin:0 10.812% 10rem;
}
.more--area .h202 span {
	position: relative;
	padding:0 1rem;
	background:#dcdcdc;
	font-size:2.25rem;
	z-index: 11;
}
.more--area .h202::after {
	position:absolute;
	content:'';
	top:1.15rem;
	left:0;
	width:100%;
	height:2px;
	background:#3c3c3c;
}

.more--area .h302 {
	width:25.85555%;
	margin: 0 0 2rem;
	padding:0 0 0.5rem 10.812%;
	text-align:	left;
	font-size:1.875rem;
	border-bottom:1px solid #000;
}
.more--txt {
	margin:0 10.812% 1.8rem;
	text-align:left;
	font-size:1rem;
	line-height: 2.1;
}
.more--txt span {
	position:relative;
	padding-right: 1.4rem;
	font-size:1.125rem;
}
.more--txt span a {
	color:#000;
}
.more--txt span a::after {
	position: absolute;
	top: 47.5%;
	right: 5%;
	width: 6px;
	height: 6px;
	margin-top: -3px;
	content: '';
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-top: solid 2px #3c3c3c;
	border-right: solid 2px #3c3c3c;
}
.more--photo {
	position:relative;
}

/*---- insta--area ----*/
.insta--area {
	padding:8rem 0;
}
.insta--area .inner {
	background:#ffffff;
}
.insta--area .insta--inner {
	margin:0 10.812%;
	padding:3.5rem 8.74%;
	border-top:1px solid #3c3c3c;
	border-bottom:1px solid #3c3c3c;
}
.insta--area .insta--inner .h203 {
	margin: 2.5rem;
	text-align:center;
	font-size:2rem;
	line-height: 0.7;
}
.insta--area .insta--inner .h203 a {
	display:inline-block;
	padding-left:3rem;
	text-decoration:none;
	color:#3c3c3c;
	background:url("../img/icn_insta@2x.png") left center no-repeat;
	background-size:36px auto;
}
.insta--area .insta--inner .h203 small {
	font-size:1rem;
}

@media (min-width: 768px) {
/* tablet+PC用 */
	/*---- .contents--kv--area ----*/
	.contents--kv--area .inner {
		padding:0 0 7rem;
	}
	.slider {
		position: relative;
		margin: 0 0 3.4375rem;
		padding: 2.1rem 0 0;
	}
	.slider--txt {
		bottom:2.6rem;
	}
	.contents--kv--area h2 {
		font-size:32px;
	}
	
	/*---- .fxch.ttl ----*/
	.fxch.ttl {
		font-size:32px;
	}
	
	.fxch.txt p {
		font-size:1.125rem;
	}
	.fxch.txt .en {
	}
	
	/*---- .about--area ----*/
	.about--area .fx {
		border-bottom:1px solid #3c3c3c;
	}
	.about--area .inner {		
		padding:6rem 0 8.375rem;
	}
	.about--area .fx {
		padding-bottom:6.25rem;
	}
	
	/*---- .interior--area ----*/
	.interior--area .inner {		
		padding:6rem 0 8.375rem;
	}
	
	/*---- .menu--area ----*/
	.menu--area .inner {		
		padding:6rem 0 8.375rem;
	}
	
	/*---- more--area ----*/
	.more--area .inner {
		padding: 10rem 0 11rem;
	}
	.more--area .h302 {
		margin-top: 4rem;
	}
	.more--area .h302:first-of-type {
		margin-top:0;
	}
	.more--photo {
		margin:0 10.812% 0 30.45%;
	}
}
@media (min-width: 1024px) {
/* PC用 */
}
@media (min-width: 1224px) {
/* PC-wide用 */
}
@media (min-width: 768px) and ( max-width: 1023px) {
/* tablet用 */
}
@media (max-width: 767px) {
/* SP用 */
	.slider {
		position: relative;
		margin-bottom: 1.2rem;
	}
	.slider--txt {
		bottom:1.4rem;
		line-height: 1.45;
	}
	.contents--kv--area h2 {
		padding-bottom: 2rem;
		font-size:1.125rem;
	}
	
	/*---- .fxch.ttl ----*/
	.fxch.ttl {
		position: relative;
		margin:0 33.5% 1rem;
		padding: 0 0 6.4rem;
		font-size: 22px;
		background-size:70% auto !important;
	}
	.fxch.ttl::before {
		content:'';
		position: absolute;
		top:2rem;
		left:0;
		width:100%;
		height:2px;
		background:#000;
	}
	
	.about--area .inner {
		padding:5rem 0 1rem;
	}
	
	
	.about--area .fxch.ttl,
	.interior--area .fxch.ttl,
	.menu--area .fxch.ttl {
		background-position: center 2.5rem;
	}
	
	/*---- .fxch.txt ----*/
	.fxch.txt {
		margin:0 10.4% 2.4em;
	}
	.fxch.txt p {
		font-size:13px;
		text-align: left;
	}
	.fxch.txt .en {
		line-height: 1.4;
	}
	.fxch.txt .en::before {
		width:100%;
	}
	
	/*---- interior--area ----*/
	.interior--area .inner  {
		padding:5rem 0 5rem;
	}
	.interior--area .fxch.txt p,
	.menu--area .fxch.txt p {
		text-align:center;
	}
	
	/*---- menu--area ----*/
	.menu--area .inner  {
		padding:5rem 0 7rem;
	}
	
	/*---- btn--moreview ----*/
	.btn--moreview {
		position: absolute;
		right:1.2rem;
		bottom:1.2rem;
		width:127px;
		border:1px solid #fff;
		z-index: 1001;
	}
	.btn--moreview a {
		padding:0.25rem 1.5rem 0.45rem 0;
		font-size:1.125rem;
	}
	.btn--moreview a::after {
		right: 9%;
		width: 6px;
		height: 6px;
		margin-top: -3px;
	}
	
	/*---- more--area ----*/
	.more--area .inner {
		padding-bottom:1px;
	}
	.more--area .h202 {
		position:relative;
		margin:0 10.812% 3rem;
	}
	.more--area .h202 span {
		position: relative;
		padding:0 0.6rem 0.25rem;
		background:none;
		font-size:1.375rem;
		z-index: 11;
		border-bottom:1px solid #3c3c3c;
	}
	.more--area .h202::after {
		width:0;
		height:0;
	}

	.more--area .h302 {
		width:45.85555%;
		font-size:1.625rem;
	}
	
	.more--photo {
		margin:0 10.812% 1.75rem;
	}
	.party--photo img { margin-bottom: 5px;}
	
	.more--txt {
		margin:0 10.812% 4rem;
		text-align:left;
		font-size:0.875rem;
		line-height: 1.6;
	}
	.more--txt span {
		position:relative;
		padding-right: 1rem;
		font-size:1.125rem;
	}
	.more--txt span a::after {
		margin-top: 0;
		content: '';
		border-top: solid 1px #3c3c3c;
		border-right: solid 1px #3c3c3c;
	}
	.more--photo {
		position:relative;
	}
	
	/*---- insta--area ----*/
	.insta--area {
		padding:3rem 0 3rem;
	}
	.insta--area .insta--inner {
		margin:0 10.812%;
		padding:1.6rem 0 0;
	}
	.insta--area .insta--inner .h203 {
		margin:0 0 1.2rem 0;
		text-align:center;
		font-size:1.125rem;
		line-height: 1;
	}
	.insta--area .insta--inner .h203 a {
		display:inline-block;
		padding:2rem 0 0;
		text-decoration:none;
		color:#3c3c3c;
		background:url("../img/icn_insta@2x.png") center top no-repeat;
		background-size:18px auto;
	}
	.insta--area .insta--inner .h203 small {
		font-size:0.935rem;
	}
}
@media (max-width: 320px) {
/* SP用 */
	/*---- .fxch.ttl ----*/
	.fxch.ttl {
		position: relative;
		margin:0 28.5% 1rem;
		padding: 0 0 6.4rem;
		font-size: 18px;
		background-size:60% auto !important;
	}
}

/* menu--page
-------------------------------------------------- */
.bgw .inner { background:#fff;}
.btn--menu--pdf {
	margin:0 auto;
	padding:2rem 0 3rem;
}
.btn--menu--pdf p {
	margin:0 auto;
	border:1px solid #3c3c3c;
}
.btn--menu--pdf a {
	position: relative;
	display:block;
	width:100%;
	padding:0.5rem 0;
	color: #3c3c3c;
	font-weight: 600;
	font-size:1.375rem;
	text-decoration: none;
	
}
.btn--menu--pdf a::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border-top: 14px solid #3c3c3c;
	border-right: 14px solid transparent;
}
.btn--menu--pdf a small {	
	margin:0 0 0 0.55rem;
	padding:0 0 0 0.55rem;
	font-weight: 400;
	font-size:1.25rem;
	border-left:1px solid #3c3c3c;
}
.btn--menu--pdf a:hover {
	opacity: 1;
	background-color: rgba(255, 255, 255, 0.1);
}

.kv--txt h3,
.kv--txt--copy {
	color: #fff;
}
.kv--txt h3 span {
	padding:0 0.8rem 0.15rem;
	border-bottom:2px solid #fff;
}


.h205 {
	margin-bottom:1.8rem;
}
.h205 span {
	padding:0 0.7rem 0.1rem;
	font-size:2rem;
	border-bottom:1px solid #3c3c3c;
}

.menu--page .lead {
	margin-bottom:1.125rem;
	font-size: 1.125rem;
	line-height: 2.1;
    color: #000;
}

.menu--photo--01 img:last-of-type {
	margin-bottom:0;
}


.menu--lunch--txt {
	margin:0 10.812%;
	padding:1.45rem 0 2.2rem;
	text-align: right;
	line-height:1.35;
}
.menu--lunch--txt .lunch--txt {
	position:relative;
	line-height: 1.75;
}
.menu--lunch--txt .lunch--txt::before {
	position:absolute;
	top:0;
	right:0;
	content: '';
	height:1px;
	background:#3c3c3c;
}

@media (min-width: 768px) {
/* tablet+PC用 */
	.menu--page .kv--txt h3 {
		margin-bottom: 0.75rem;
		font-size:4.125rem;
	}
	.kv--txt h3 span {}
	.kv--txt--copy {
		font-size:2.125rem;
	}
	
	.foodstuff--area .inner {
		padding: 0 0 9.625rem 0;
	}
	.foodstuff--area .h205 {
		width:20.36036%;
		margin:0 0 4.1875rem 10.812%;
	}
	.foodstuff--area .h205 span {
		padding:0 1.25rem 0.1rem;
	}
	.foodstuff--txt {
		margin:0 10.812% 0 30.630630630%;
		text-align: left;
	}
	
	.party--photo img { margin-bottom: 10px;}
	
	
	.lunch--area {
		padding-top:12.375rem;
	}
	.btn--menu--pdf {
		padding-bottom:12.6375rem;
	}
	.btn--menu--pdf p {
		width:330px;
	}
	
	
	.menu--photo--01 img {
		margin-bottom: 30px;
	}
	
	.menu--photo--02 img:nth-child(3),
	.menu--photo--02 img:nth-child(4) {
		margin-bottom:0;
	}

	
	.menu--lunch--txt .lunch--name .jp {
		font-size:1.375rem;
	}
	.menu--lunch--txt .lunch--name .en {
		font-size:1rem;
	}
	.menu--lunch--txt .lunch--txt {
		margin:0.85rem 0 0;
		padding:0.95rem 0 0;
		font-size:1.125rem;
	}
	
	.menu--lunch--txt .lunch--txt::before {
		width:45%;
	}
	
	.menu--photo--02 .for-tbpc {
		display:flex;
		justify-content:space-between;
		flex-wrap: wrap;
	}
	.menu--photo--02 img {
		width:49.54954954954954%;
		margin-bottom: 10px;
	}
	.menu--photo--02 {}
	
	
}
@media (min-width: 1024px) {
/* PC用 */
}
@media (min-width: 1224px) {
/* PC-wide用 */
}
@media (min-width: 768px) and ( max-width: 1023px) {
/* tablet用 */
}
@media (max-width: 767px) {
/* SP用 */
	.menu--page .kv--txt {
		padding-top: 60%;
	}
	.menu--page .kv--txt h3 {
		margin-bottom: 0.75rem;
		font-size:2.25rem;
	}
	.kv--txt h3 span {}
	.kv--txt--copy {
		font-size:1.125rem;
	}
	
	.foodstuff--area .inner {
		padding: 9.625rem 0 3.25rem 0;
	}
	
	
	.h205 span {
		font-size:1.375rem;
		padding:0 1.25rem 0.1rem;
	}
	.foodstuff--txt {
		margin:0 10.812% 0;
		text-align: left;
	}
	.foodstuff--txt .jp {
		font-size: 13px;
	}
	.foodstuff--txt .en {
		font-size:0.975rem;
	}
	
	
	.lunch--area {
		padding-top:4.9rem;
	}
	.menu--page .lead {
		margin-bottom:1.125rem;
		font-size: 13px;
		line-height: 2.1;
	}
	
	.btn--menu--pdf {
		padding-bottom:6.4375rem;
	}
	.btn--menu--pdf p {
		width:54.9%;
	}
	.btn--menu--pdf a {
		font-size:1rem;
	}
	.btn--menu--pdf a small {
		font-size:0.9375rem;
	}
	
	.menu--photo--01 img {
		margin-bottom: 30px;
	}

	.menu--lunch--txt {
		padding-top:2.2rem;
		text-align:left;
	}
	.menu--lunch--txt .lunch--name .jp {
		font-size: 15px;
	}
	.menu--lunch--txt .lunch--name .en {
		font-size:0.975rem;
	}
	.menu--lunch--txt .lunch--txt {
		margin:0.85rem 0 0;
		padding:0.95rem 0 0;
		font-size:0.8125rem;
	}
	
	.menu--lunch--txt .lunch--txt::before {
		width:100%;
	}
	
	.menu--photo--02 .for-tbpc {
		display:none !important;
	}
	.menu--photo--02 img {
	}
	.menu--photo--02 {}
}


/* 
-------------------------------------------------- */
@media (min-width: 768px) {
/* tablet+PC用 */
}
@media (min-width: 1024px) {
/* PC用 */
}
@media (min-width: 1224px) {
/* PC-wide用 */
}
@media (min-width: 768px) and ( max-width: 1023px) {
/* tablet用 */
}
@media (max-width: 767px) {
/* SP用 */
}


/* 
-------------------------------------------------- */
@media (min-width: 768px) {
/* tablet+PC用 */
}
@media (min-width: 1024px) {
/* PC用 */
}
@media (min-width: 1224px) {
/* PC-wide用 */
}
@media (min-width: 768px) and ( max-width: 1023px) {
/* tablet用 */
}
@media (max-width: 767px) {
/* SP用 */
}


/* 
-------------------------------------------------- */
@media (min-width: 768px) {
/* tablet+PC用 */
}
@media (min-width: 1024px) {
/* PC用 */
}
@media (min-width: 1224px) {
/* PC-wide用 */
}
@media (min-width: 768px) and ( max-width: 1023px) {
/* tablet用 */
}
@media (max-width: 767px) {
/* SP用 */
}



/* 
-------------------------------------------------- */
@media (min-width: 768px) {
/* tablet+PC用 */
}
@media (min-width: 1024px) {
/* PC用 */
}
@media (min-width: 1224px) {
/* PC-wide用 */
}
@media (min-width: 768px) and ( max-width: 1023px) {
/* tablet用 */
}
@media (max-width: 767px) {
/* SP用 */
}



/* 
-------------------------------------------------- */
@media (min-width: 768px) {
/* tablet+PC用 */
}
@media (min-width: 1024px) {
/* PC用 */
}
@media (min-width: 1224px) {
/* PC-wide用 */
}
@media (min-width: 768px) and ( max-width: 1023px) {
/* tablet用 */
}
@media (max-width: 767px) {
/* SP用 */
}



/* 
-------------------------------------------------- */
@media (min-width: 768px) {
/* tablet+PC用 */
}
@media (min-width: 1024px) {
/* PC用 */
}
@media (min-width: 1224px) {
/* PC-wide用 */
}
@media (min-width: 768px) and ( max-width: 1023px) {
/* tablet用 */
}
@media (max-width: 767px) {
/* SP用 */
}


/* 
-------------------------------------------------- */
.fadein {
  opacity : 0;
  transform: translateY(40px);
  transition: all 2000ms ;
}
.fadein--03 {
	transition-delay:0.5s;
}

.f--lib { font-family: 'Libre Caslon Display', serif; }
@media (min-width: 768px) {
/* tablet+PC用 */
}
@media (min-width: 1024px) {
/* PC用 */
}
@media (min-width: 1224px) {
/* PC-wide用 */
}
@media (min-width: 768px) and ( max-width: 1023px) {
/* tablet用 */
}
@media (max-width: 767px) {
/* SP用 */
}

.scroll {
	position: fixed;
	z-index: 9999;
	background-color: #FFF;
}